# PropertyTree dist

# standard set of extensions
git /extensions/PropertyTree        https://github.com/OpenEngineDK/extensions-PropertyTree.git

git-dev /extensions/PropertyTree    git@github.com:OpenEngineDK/extensions-PropertyTree.git

